/*header*/
.carousel {
  position: relative;
  width: 100vw;
  height: 50vh;
  overflow: hidden;
  z-index: -1;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.carousel-slide {
  min-width: 100%;
  height: 100%;
}

.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-caption {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fffaf7;
  font-size: 4rem;
  width: 100%;
  text-align: center;
  z-index: 1000;
  bottom: 5%;
}

/*Participants*/
.participants-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  gap: 2vw;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  margin: 0 auto;
  justify-content: center;
}

.participant:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.participant {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 150px; 
  height: 220px;
  overflow: hidden;
  border-radius: 10px;
}

.participant-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1; 
}

.participant h2 {
  position: absolute;
  bottom: 10px;
  color: white;
  font-size: 1rem;
  z-index: 2; 
}

/*main*/
.menu-index {
  margin: 2vh 5vw 15vh 5vw !important;
}

.link {
  text-decoration: none;
  color: #e78052;
  font-size: 0.8rem;
}

.link:hover {
  text-decoration: underline;
  color: #1a1a1a;
  font-size: 0.8rem;
}

.middle {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

iframe {
  padding-bottom: 2vw;
  width: 560px;
  height: 315px;
}

@media (max-width: 768px) {
  .menu-index {
    margin: 2vh 20px 90px 20px !important;
  }

  iframe {
    width: 280px;
    height: 157.5px;
    padding-bottom: 6vw;
  }

  .carousel {
    height: 20vh;
  }

  .carousel-slide img {
    object-fit: fill;
  }

  .carousel-caption {
    top: 80%;
    font-size: 2rem;
  }

  .participants-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Max 3 cartes par ligne */
    gap: 2vw;
    width: 100%;
    max-width: 900px; /* Empêche les cartes de s'étirer trop */
    margin: 0 auto; /* Centre la grille */
    overflow: hidden; /* Cache le dépassement si nécessaire */
  }

  .participant {
    width: 80px; 
    height: 120px;
  }

  .participant h2 {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    bottom: 0px !important;
  }

  .participant:nth-child(n+4) {
    display: none; /* Cache toutes les cartes au-delà de la 3ème */
  }
}
