body {
  font-family: Blinker;
  margin: 0;
  background-color: #FFFAF7;
}

section {
  margin-bottom: 4vw;
}

p {
  font-size: 0.8rem;
}

.center {
  text-align: center;
  padding: 0 10vw;
}

h1 {
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
}

.bouton {
  color: #FFFAF7;
  text-decoration: none;
}
.bouton:hover {
  color: #1a1a1a;
  text-decoration: underline;
}

button {
  padding: 2vw 4vw;
  border-radius: 5vw;
  border: 0;
  background-color: #E78052;
  color: #FFFAF7 !important;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease, box-shadow 0.1s ease; 
}

button:active {
  transform: scale(0.9); 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2); 
}

button:hover {
  background-color: #fff;
}

main {
  margin: 20px;
}

.log-option {
  font-size: 0.8rem;
  font-weight: 600;
  transition: color 0.3s ease;
  padding-right: 2vw;
}

.bi-person-circle {
  width: 8vw;
  height: 8vw;
  fill: #E78052;
  transition: color 0.3s ease;
}

.bi-person-circle:hover {
  fill: #FFFAF7;
}

.login-button:hover {
  color: #FFFAF7;
}

.login-button {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  padding: 1vh 2vw;
  background-color: transparent;
  color: #E78052;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  z-index: 1000;
}

.login-button:hover {
  text-decoration: underline;
}

.login-button .icon {
  margin-left: 10px;
  width: 2vh;
  height: 2vh;
  background-image: url("image/Login.png");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #E78052;
  padding: 1.5vh 0;
  color: #FFFAF7;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #1a1a1a;
  font-size: 0.8rem;
  font-weight: 600;
  transition: color 0.3s ease;
}

.navbar-item:hover {
  color: #FFFAF7;
}

.navbar-item img {
  width: 10vw;
  height: 10vw;
  margin-bottom: 5px;
}

.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1000;
}

.logo img {
  width: 15vw;
  height: 15vw;
  z-index: 1000;
}

.feedback-icon {
  position: fixed;
  bottom: 8vh;
  right: 3vw;
}

.feedback-icon img {
  height: 8VH;
}
