main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
}

.hide {
    display: none;
}

.col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 5vw;
}

.mg-btm {
    margin-bottom: 0;
    padding-bottom: 1vw;
}

/* Information of the player*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height:30vh;
}

.info-container h1 {
    display: block;
    margin-bottom: 1rem;
}

.data-container {
    text-align: left;
    padding-left: 1rem;
}

.data-container h4 {
    margin-top: 0;
}

.photo-container {
    position: relative;
    display: flex;
    height:100%;
    width: 10vw;
}

#participantPhoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: center; 
    z-index: 1;
}

.background-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    z-index: 2;
}

 .photo-container img {
    height: 90%; 
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    object-fit: cover;
    display: block;
    align-items: center;
}

.name-overlay {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: white;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem 0;
    border-radius: 0 0 15px 15px;
    z-index: 3;
}

/*Badges Disc In*/
#participant-badges {
    display: flex; 
    flex-direction: row;
}

.badge-grid {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between !important;
}

.badge {
    display: flex;
    flex-direction: column;
    width: 25vw;
    padding: 0.5rem 0;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.badge p, .badge h5, .badge img {
    margin: 0 auto;
    padding: 0.5rem 0;
}

img.badge {
    width: 16px;
}

/*Buttons like and message*/
#participant-buttons {
    justify-items: center;
    padding-bottom: 2vw;
}
button {
    background-color: #fff;
    position: relative;
    list-style: none;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    cursor: pointer;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    border: none;
}

button:active {
    scale: 1.2;
}

button:hover {
    width: 180px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0);
}

button::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 50px;
    background: linear-gradient(45deg, var(--i), var(--j));
    opacity: 0;
    transition: 0.5s;
}

button:hover::before {
    opacity: 1;
}

button::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg, var(--i), var(--j));
    filter: blur(15px);
    transition: 0.5s;
    z-index: -1;
    opacity: 0;
}

button:hover::after {
    opacity: 0.5;
}

button svg {
    color: #777;
    width: auto;
    height: 30px;
    transition: 0.5s;
    transition-delay: 0.25s;
}

button:hover svg {
    transform: scale(0);
    color: #fff;
    transition-delay: 0s;
}

button span {
    position: absolute;
}

button .title {
    color: #fff;
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
    font-weight: 600;
}

button:hover .title {
    transform: scale(1);
    transition-delay: 0.25s;
}

/* Carrousel Schedule */
.carousel {
    position: relative;
    width: 100%; 
    display: flex;
    align-items: center;
    overflow: hidden;
}

.badge-section {
    position: relative;
    top: -6vw;
}

.carousel-inner {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    width:100%;
}  

.carousel-item {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    text-align: center;
    gap: 1vh;        
}

.session {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0;
    padding: 0.75rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.session p {
    margin: 0.2rem 0;
}

.dots {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    align-items: center; /* Assure un bon alignement vertical */
    gap: 0.5rem;
    margin-top: 1rem;
    position: relative; /* Permet un positionnement correct */
    z-index: 4; /* S'assurer que les dots sont au-dessus du carousel */
}

.dots span {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.dots .active {
    background-color: #444;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.modal img {
    max-width: 90vw;
    max-height: 90vh;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.nav-buttons {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between; /* Place les flèches aux extrémités */
    align-items: center; /* Centre verticalement les flèches */
    pointer-events: none; /* Empêche les clics en dehors des boutons */
    z-index: 4;
}

.nav-buttons button {
    pointer-events: auto;
    height: 0;
    border: none;
    color: #1a1a1a;
    font-size: 1.5rem; 
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10%; 
    transform: translateY(-50%); 
    z-index: 4; 
    transition: background-color 0.3s ease, transform 0.2s ease;
}

#prev {
    position: absolute;
    background-color: #fffaf7 !important;
    box-shadow: none;
    left: 22vw;
    height: 25px;
    width: 25px;
}

#next {
    position: absolute;
    background-color: #fffaf7 !important;
    box-shadow: none;
    right: 22vw;
    height: 25px;
    width: 25px;
}

.schedule-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.session-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    align-items: flex-start;
}

.session-info {
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    align-items: center;
    font-size: 80%;
    color: #444;
}

.session-item span {
    flex: 1; /* Chaque élément occupe une part égale */
    text-align: center; /* Centrer le texte dans chaque colonne */
}

.session-item.type {
    position: absolute;
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    width: 100%; /* Prend toute la largeur de la cellule */
    text-align: center; /* Aligne le texte au centre */
    margin-top: 0.5rem; /* Espacement si nécessaire */  
    transform: translate(-50%, -50%); /* Centrage parfait */
    left: 50%; /* Place horizontalement au centre */
    top: 50%; /* Place verticalement au centre */
    white-space: nowrap; /* Empêche le texte de se couper */  
}  

.session-wrapper {
    margin-bottom: 5px; /* Espacement entre les sessions */
    width: 100%;
    height:100%;
    justify-content: space-between;
}

span.time {
    font-weight: bold;
}

.session-item.time {
    flex: 0 0 auto; /* Empêche le texte du temps de s'étendre */
    text-align: left; /* Aligne le temps à gauche */
    margin-right: 1rem; /* Ajoute un espace à droite du temps */
}


.carousel-wrapper {
    display: flex;
    flex-direction: column; /* Organisation en colonne pour avoir les dots sous le carousel */
    justify-content: flex-start;
    align-items: center;
    height: 50vh; /* Ajustement pour inclure les dots */
    width: 90vw;
    max-width : 1000px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

.carousel-item h5 {
    padding: 0.5rem;
    background-color: #e78052;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);;
    color: #1a1a1a;
    text-transform: uppercase; 
    text-align:center;
    align-items: center;    
    margin-top: 0;
    z-index: -4;
}

.popup {
    display: none; /* Masqué par défaut */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 5;
    animation: fadeIn 1s ease, fadeOut 2s ease 1s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    to {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
}

@media (max-width: 1200px) {
    .hide {
        display: block !important;
    }

    .photo-container {
        width: 20vw;
    }
}

@media (max-width: 600px) {
    .hide {
        display: block !important;
    }

    #participant-buttons {
        padding-bottom: 6vw;
    }

    .carousel {
        position: relative;
        width: 100%; 
        height: 80%; 
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    
    .badge-section {
        z-index: 1;
        position: relative;
        top: -6vw;
        gap: 1vw;
    }

    .nav-buttons {
        display: none;
    }

    .nav-buttons button {
        top: 8%; 
    }
    
    #prev {
        left: 25vw;
        height: 25px;
        width: 25px;
    }
    
    #next {
        right: 25vw;
        height: 25px;
        width: 25px;
    }

    .photo-container {
        width: 40vw;
    }
}