/* Carrousel Schedule */
.carousel {
    position: relative;
    flex-direction: column-reverse;
    width: 100%; 
    height: 100%; 
    display: flex;
    align-items: center;
    overflow: hidden;
    padding-bottom: 3rem;
}

.carousel-inner {
    display: flex;
    flex-direction: row;
    transition: transform 0.5s ease-in-out;
    width:100%;
}  

.carousel-item {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 1rem;
    text-align: center;
    gap: 1vh;        
} 
.session-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    align-items: flex-start;
}

.session-info {
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-between !important;
    width: 100%;
    position: relative;
    align-items: center;
    font-size: 80%;
    color: #444;
}

.session-item span {
    flex: 1; 
    text-align: center; 
}

.session-item.type {
    position: absolute;
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%; 
    text-align: center; 
    margin-top: 0.5rem; 
    transform: translate(-50%, -50%);
    left: 50%; 
    top: 50%; 
    white-space: nowrap; 
}  

.session-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    margin-bottom: 5px; 
    width: 100%;
    height:100%;
    justify-content: space-between;
}

span.time {
    font-weight: bold;
}

.session-item.time {
    flex: 0 0 auto; 
    text-align: left;
    margin-right: 1rem;
}


.carousel-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh; 
    width: 90vw;
    max-width : 1000px;
    box-sizing: border-box;
    text-align: center;
    overflow: hidden;
    margin: 0 auto;
}

.carousel-item h5 {
    padding: 0.5rem;
    background-color: #e78052;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);;
    color: #1a1a1a;
    text-transform: uppercase; 
    text-align:center;
    align-items: center;    
    margin-top: 0;
    z-index: -4;
}

.carousel-item {
    display: none; 
    transition: transform 0.6s ease-in-out;
  }

.carousel-item.active {
    display: flex; 
}

.carousel-indicators button {
    background-color: #1a1a1a25;
    padding-block: 5px;
    padding-inline: 5px;
    border-radius: 5px;
    border: 0px;
    margin: 1vw;
    cursor: pointer;
}

.carousel-indicators button.active {
    background-color: #1a1a1ab1;
}

.carousel-indicators {
    padding-bottom: 4vw;
}

#carouselExampleIndicators {
    touch-action: pan-y;
  }

@media (max-width: 1200px) {
    .carousel {
        height: 60vh;
    }
}

@media (max-width: 600px) {
    .carousel {
        position: relative;
        width: 100%; 
        height: 85%; 
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .nav-buttons {
        display: none;
    }

    .nav-buttons button {
        top: 8%; 
    }
    
    #prev {
        left: 25vw;
        height: 25px;
        width: 25px;
    }
    
    #next {
        right: 25vw;
        height: 25px;
        width: 25px;
    }
}